<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/list</key>
	<string>ListViewController</string>
	<key>/detail</key>
	<string>DetailViewController</string>
	<key>/present</key>
	<string>PresentViewController</string>
	<key>/push</key>
	<string>PushViewController</string>
</dict>
</plist>
