<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>/list</key>
		<dict>
			<key>vc</key>
			<string>ListViewController</string>
			<key>presnt</key>
			<false/>
		</dict>
		<key>/detail</key>
		<dict>
			<key>vc</key>
			<string>DetailViewController</string>
			<key>present</key>
			<false/>
		</dict>
		<key>/present</key>
		<dict>
			<key>vc</key>
			<string>PresentViewController</string>
			<key>present</key>
			<true/>
		</dict>
		<key>/push</key>
		<dict>
			<key>vc</key>
			<string>PushViewController</string>
			<key>present</key>
			<false/>
		</dict>
	</dict>
	<key>sign</key>
	<string>0</string>
</dict>
</plist>
